<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>DEVICE INFO</title>
    <meta name="description" content="DEVICE INFO">
</head>
<body>
    
    <p><span style="font-family: 'times new roman', times;">Hi ` + userName + `,</span></p>
    <p><span style="font-family: 'times new roman', times;">Someone just sign-in to your LinkedIn account and want to be sure it's you:</span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>Signin Details: &nbsp;</strong></span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>Date:</strong> ` + currentDate + `</span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>Approximate Location:</strong> ` + userLocation + `</span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>Timezone:</strong> ` + userTimezone + `</span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>IP Address:</strong> ` + userIP + `</span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>Browser:</strong> ` + browser + `</span></p>
    <p><span style="font-family: 'times new roman', times;"><strong>Operating System:</strong> ` + operatingSystem + `</span></p>

    <p><span style="font-family: 'times new roman', times;">If you recognize this activity, you can disregard this email. If this wasn't you, please <a href="#">click here</a> to reset your password immediately. </p>
    
    <p><span style="font-family: 'times new roman', times;">Thanks,<br />The RequestTalk Team</span></p>

</body>
</html>