<div class="container main-cover">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="text-center">
                <img src="https://requesttalk.netlify.app/assets/images/RequestTalk.svg" alt="" class="pt-5 pb-4">

            </div>
            <div class="text-center pb-4">
                <h4 class="fw-bold fs-4">Reset your password</h4>
            </div>
            <div class="card">

                <div class="card-body">

                    <form class="needs-validation" novalidate="">
                        <div class="mb-3">
                            <label for="emailAdderss" class="form-label">Enter your account's email address</label>
                            <input type="email" name="emailAdderss" class="form-control " required>

                        </div>

                        <button type="submit" class="btn btn-dark col-12">Send Reset Email</button>
                    </form>

                    <div>
                        <p class="pt-3">To go back - <span><a href="signin">Click Here</a></span> </p>

                    </div>
                </div>
                <div class="card-footer text-muted">
                    We will system generate and auto password reset and email you.
                </div>
            </div>
        </div>
    </div>
</div>