.home-first-intro{
    background-image: url("https://requesttalk.netlify.app/bg-image-1.215f4fc918570998.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    .apps-addon img{
        width: 55px;
    }