a {
    text-decoration: none;
}
.company-logo img {
    width: 270px;
}
.intro h1{
    font-size: 50px;
}

@media only screen and (max-width: 768px) {
    .intro h1{
        font-size: 30px
    }
  }
