<section class="container-fluid">
    <div class="row">
        <div
            class="col-lg-7 col-md-7 col-sm-12 vh-100 text-light d-flex align-items-center d-flex justify-content-center bg-dark">
        </div>
        <div
            class="col-lg-5 col-md-5 col-sm-12 d-flex align-items-center justify-content-center my-5 py-lg-0 py-md-0 py-5">
            <div class="card ">

                <div class="card-body">
                    <form  #loginUser="ngForm" (ngSubmit)="loginUserFunc(loginUser)" class="needs-validation" novalidate="">
                        <div class="mb-3">
                          <label for="emailAdderss" class="form-label">Email Address</label>
                          <input type="email" name="emailAdderss"  #emailAdderssRef="ngModel"  class="form-control "  ngModel required>
                          <div *ngIf="emailAdderssRef.errors && (emailAdderssRef.dirty || emailAdderssRef.touched)" style="text-align:left; color:red;">
                            <div [hidden]="!emailAdderssRef.errors">
                              <p>&nbsp;E-Mail is mandatory</p>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input type="password"name="password"   #passwordRef="ngModel"  class="form-control "  ngModel required >
                          <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="text-align:left; color:red;">
                            <div [hidden]="!passwordRef.errors">
                              <p>&nbsp;Password is mandatory</p>
                            </div>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-dark col-12" [disabled]="!loginUser.form.valid">Login to your account</button>
                      </form>
                    <div>
                        <p class="pt-3">Don't have an account ? <span><a href="signup">Sign Up</a></span> </p>
                        <p class="">Forgot Password ? <span> <a href="reset-password">Click Here</a></span> </p>

                    </div>
                </div>


                <div class="card-footer text-muted">
                    <p>Log in to your account to get back to your hub for scheduling meetings.</p>
                </div>
            </div>
        </div>
    </div>
</section>