<div class="container-fluid">
    <div class="row d-flex justify-content-center vh-100">
        <div class="col-lg-6 col-md-10 col-11 col-sm-11 p-0 justify-content-center align-items-center my-auto">
            <div class="jumbotron text-center mb-3 d-flex flex-column justify-content-center google-cal">
                <h1 class="fw-bolder">Get your events sent to your calendar</h1>
                <p class="fst-normal fs-5">Before you procced, we need your permission, so that we can intregrate Google
                    Calendar
                    to your account, for easy scheduling to create and edit events. </p>
            </div>
            <div class="card mx-auto text-center py-3" style="width: 20rem;">
                <div class="card-body">
                    <img src="https://requesttalk.netlify.app/assets/images/googleCalendar.svg" width="80px" alt="">
                    <h5 class="card-title mt-3">Google</h5>
                    <h6 class="card-subtitle mb-2 text-muted">GMail or GSuite accounts</h6>
                    <button class="btn btn-success col-6 mt-3" type="button" (click)="handleAuthClick()">Connect</button>

                </div>

            </div>

        </div>
    </div>

</div>