<div class="container-fluid">
    <div class="row d-flex justify-content-center mx-1">
        <div class="col-md-6 col-sm-12 p-0 justify-content-center">
            <div class="jumbotron min-vh-100 text-center m-0 d-flex flex-column justify-content-center google-cal">
                <h1 class="display-6 fw-bolder">Permission Required</h1>
                <p class="fst-normal fs-5">Before you procced, we need your permission, so that we can intregrate Google Calendar
                    to your account, for easy scheduling to create and edit events. </p>
                <p class="lead google-logo">
                    <button class="btn btn-lg btn-google btn-block btn-outline  " type="button"
                        (click)="handleAuthClick()"><img
                            src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png">
                        Sign in with Google</button>
                </p>
            </div>
        </div>
    </div>

</div>