.btn {
    border-radius: 2px;
    font-size: 18px;
    padding: 10px 19px;
    cursor: pointer
}
.google-logo img {
    width: 30px;
    padding: 0 5px 0 0;
}
.btn-google {
    color: #545454;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}